html {overflow:hidden;}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-align: center;
}

header {
    font-weight: bold;
    font-size: 3rem;
    margin-bottom: 1rem;
}

button {cursor: pointer;}


#sudokuGrid, #selection {
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	
}

#sudokuGrid {
	height: 500px;
	width: 500px;
	margin-top: 1rem;
}

#selection {
	margin-top: 2rem;
	justify-content: center;
}

.cell, .digit {
	width: 53px;
	height: 54.5px;
	border: 1px solid rgba(100, 100, 100, 0.8);
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 3rem;
	cursor: pointer;
}
.digit {width: 50px; border: 1.5px solid black;}

.cell-bottom-border{border-bottom: 3px solid black;}
.cell-right-border{border-right: 3px solid black;}
.cell-left-border{border-left: 3px solid black;}
.cell-top-border{border-top: 3px solid black;}

.selected-digit {
	background-color: rgba(23, 205, 193, 0.619);
}

.selected-cell {
	background-color: rgba(23, 205, 193, 0.619);
	
}